    <div id="root"></div>
    <script src="/dist/bundle.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSsd77sR9fzd-OacB0EtL9s9IWwuSbZP4">
    </script>
</div>
</body>
</html>