    <div id="root"></div>
    <script src="/dist/bundle.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSsd77sR9fzd-OacB0EtL9s9IWwuSbZP4">
    </script>
</div>
</body>
<footer>
   <!-- <div className="ui grid">
     
      <div className="three wide column">
        <div className="ui stackable inverted divided equal height stackable grid">
          <div className="three wide column">
            <h4 className="ui inverted header">About</h4>     
            <div className="ui inverted link list">
              <a href="#" className="item">Contact Us</a>
              <a href="#" className="item">Founders</a>
              <a href="#" className="item">OmniChat Careers</a>
            </div>
          </div>
        </div>
      </div>
   
      <div className="three wide column">
        <h4 className="ui inverted header">Services</h4>
        <div className="ui inverted link list">
          <a href="#" className="item">Locate Vendors</a>
          <a href="#" className="item">Event locations</a>
        </div>
      </div>
        
      <div className="three wide column">
        <h4 className="ui inverted header">© 2017 OmniChat</h4>
          <p>Getting things done..</p>
        </div>
      </div>
  
  </div> -->

</footer>
</html>