<!doctype html>
<html>
<head>
    <title>Connect</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link> <!-- load semantic.min.css-->
    <!-- <link rel="stylesheet" href="styles.css"></link> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
<style>

@headerFont        : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont          : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@fontSmoothing     : antialiased;

@importGoogleFonts : true;
@googleFontName    : 'Lato';
@googleFontSizes   : '400,700,400italic,700italic';
@googleFontFamily  : '@{googleFontName}:@{googleFontSizes}';
  #map-canvas {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
  }
  #map-canvas img {
    max-width: none !important;
  }
  .signIn {
    font-family: Helvetica;
  }
</style>

</head>
<body>
<div class="ui container-fluid">
