<!doctype html>
<html>
<head>
    <title>Omnichat</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link> <!-- load semantic.min.css-->
     <link rel="stylesheet" href="styles.css"></link>  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
<style>

</style>

</head>
<body>
<div class="ui container-fluid">
