<% include head.ejs%>

    <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <script> 
        var myUser = <%- JSON.stringify(user) %>;
    </script>

<% include foot.ejs%>