<% include head.ejs%>


 <div class="ui inverted vertical hidden masthead segment" style="padding-bottom: 1em">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>   
<div class="cotainer-fluid" style="padding-top: 5em;">
    <img class="ui medium circular image centered" src="https://s-media-cache-ak0.pinimg.com/originals/97/fb/9c/97fb9c86363945aa3848bf483df94fe9.png"
        style="border-width: thick;
              border-style: solid;
              border-color: #00b5ad;
        "
    >
    <div class="signIn">
        <h1 align="center" style="padding-top: 2em;"><strong>Sign in with</strong></h1>

    </div>
    <div align="center" style="padding-top: 5em;">
        <div class="ui big buttons" align="center">
            <a class="ui facebook button" href="/auth/facebook">
                <i class="facebook icon"></i>
                Facebook
            </a>
            <div class="or"></div>
            <a class="ui google plus button" href="/auth/google">
                <i class="google icon"></i>
                Google
            </a>
        </div>
    </div>
</div>


<% include foot.ejs%>

