<% include head.ejs%>

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<% include foot.ejs%>