<% include head.ejs%>

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/friends" class="btn btn-default btn-sm">Friends</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
     <script> 
        var myUser = <%- JSON.stringify(user) %>;
    </script> 
<% include foot.ejs%>