@headerFont        : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont          : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@fontSmoothing     : antialiased;

@importGoogleFonts : true;
@googleFontName    : 'Lato';
@googleFontSizes   : '400,700,400italic,700italic';
@googleFontFamily  : '@{googleFontName}:@{googleFontSizes}';

#map-canvas {
  margin: 0;
  padding: 0;
  height: 400px;
  max-width: none;
}

#map-canvas img {
  max-width: none !important;
}

#friend-add-input {
  width: 300px;
}

#friend-add-button {
  margin-left: 20px;
}

.signIn {
  font-family: Helvetica;
}

#sidebar {
  left: 0px;
  width: 15%;
  height: 100em;
  border-radius: 0px;
  float: left;
}

#main {
  float: left;
  width: 85%;
  padding: 40px;
}

.display {
  color: grey;
}

.friend-list-profile-pic {
  width: 200px;
  height: 200px;
  float: left;
}

.friend-list-div {
  height: 200px;
}
.friend-list-data {
  height: 200px;
  width: 80%;
  float: left;
  font-size: 20px;
  line-height: 30px;
  padding-left: 15px;
}

.friend-list-button {
  float: right;
}

.groupName {
  padding-top: 2em;
  padding-bottom: 2em;
}

.buttonGroup {
  font-size: 5px;
}

.events {
  float: right;
}