@headerFont        : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont          : 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@fontSmoothing     : antialiased;

@importGoogleFonts : true;
@googleFontName    : 'Lato';
@googleFontSizes   : '400,700,400italic,700italic';
@googleFontFamily  : '@{googleFontName}:@{googleFontSizes}';

#about-me-form {
  width: 350px;
  height: 125px;
}

#video-chat-fronter {
  z-index: 100; position:relative;
}

#message-scroll {
  position: absolute;
  left: 22%;
  width: 78%;
  top: 26.5%;
  height: 63%;
  overflow-y: scroll;
}

#message-input {
  position: fixed;
  left: 20.65%;
  width: 78%;
  top: 90%;
}

#map-canvas {
  float: right;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 400px;
  max-width: none;
}

#map-canvas img {
  max-width: none !important;
}

#friend-add-input {
  width: 300px;
}

#friend-add-button {
  margin-left: 20px;
}

#sidebar {
  position: relative;
  left: 0px;
  width: 20%;
  top: 0px;
  height: 84vh !important;
  border-radius: 0px;
  float: left;
}

#sidebar-spacer {
  background-color: black;
  position: fixed;
  z-index: -5;
  bottom: 0px;
  height: 500px;
  left: 0%;
  width: 20%;
}

#main {
  float: left;
  width: 80%;
  padding: 12px;
}

.display {
  color: grey;
}

.friend-list-profile-pic {
  width: 200px;
  height: 200px;
  float: left;
}

.friend-list-div {
  height: 200px;
}

.friend-list-data {
  height: 200px;
  width: 80%;
  float: left;
  font-size: 20px;
  line-height: 30px;
  padding-left: 15px;
}

.friend-list-button {
  float: right;
}

/* .groupName {
  padding-top: 2em;
  padding-bottom: 2em;
} */

 .buttonGroup {
  font-size: 5px;
} 

.events {
  float: right;
}

.sharelink{
  color: #008080;
}

.signIn {
  font-family: Helvetica;
}

#profile-page-pic {
  padding: 40px;
  width: 100%;
  text-align: center;
}

#profile-page-segment {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.profile-page-data {
  font-size: 15px;
  line-height: 30px;
}

.profile-data-important {
  font-size: 30px;
  line-height: 40px;
}

#profile-page-img {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#chat-bg-color {
  position: fixed;
  z-index: -10;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  background-color: gray;
}

.inputForm {
  /* border-style: solid;
  border-color: #00b5ad; */
  border-radius: 10%;
  border: 1px solid #00b5ad;
  font-size: .8em;
  /* margin-bottom: 6px !important;  */
}

.chat-text-entry {
  margin: 10px;
}

.ui.inverted.form input[type=text]{
  color: white;
}

.formButton {
  float: right;
  margin-bottom: 14px !important;
  z-index: 99; position:relative;
}

.formButton Button {
  padding: 5px 8px !important;
}

#navImg {
  margin-bottom: -35px !important;

}
#dateIcon {
  float: left;
  width: 20%;
  height: 200px;
  display: table;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  background-color: #F0F8FF;
}

#dateIconInner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.event-header {
  float: right;
  height: 200px;
  width: 80%;
  padding-left: 20px;
  font-color: #A0A0A0;
}

.event-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
}

.event-header-icon {
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  width: 100%;
}

.event-time {
  height: 80px;
  width: 80%;
}

.event-weather {
  float: left;
  width: 50%;
  height: 400px;
  padding-top:10px;
  padding-left: 10px;
}


.event-detail-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
}

.event-detail-font {
  font-size: 20px;
  line-height: 25px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-max-temp {
  font-size: 40px;
  display: inline;
}

.weather-misc {
  font-size: 15px;
}
